{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">            
            <div class="section-title">                
                <blockquote>
                    <p><span id="currentStatus"></span></p>
                </blockquote>
                <script>
                    window.typedString = ['{{ index $.Site.Data.timeline.stories 0 }}'];
                </script>
            </div>
            <hr />
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (.Pages) }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}

        <div style="margin-top: 10px; margin-bottom: 10px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Above Footer Responsive -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6074006947927745"
                data-ad-slot="8493558457"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
