{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">            
            <div class="section-title">                
                <blockquote>
                    <p><span id="currentStatus"></span></p>
                </blockquote>
                <script>
                    window.typedString = ['{{ index $.Site.Data.timeline.stories 0 }}'];
                </script>
            </div>
            <hr />
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (.Pages) }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}

        <div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-6074006947927745",
                enable_page_level_ads: true
            });
            </script>
        </div>

    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
